[Desktop Entry]
Type=Application
Name=NovaOS Session Setup
Exec=/usr/local/bin/novaos-session-setup
OnlyShowIn=XFCE;
NoDisplay=true
X-GNOME-Autostart-enabled=true
